{% extends "recipe/layout.html" %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'recipe/add_item.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Add favorite Recipe</h1>
    <div class="form1">
        <form class="shadow-lg p-5 rounded" action="{% url 'add_item' %}" method="post">
            {% csrf_token %}
            <input autocomplete="off" class="form-control" type="text" name="item" placeholder="item" required><br></br>
            <textarea autocomplete="off" id="ingredients" class="form-control" name="ingredients" placeholder="ingredients e.g. A, B, C etc.." rows="4" required></textarea>
            <textarea autocomplete="off" id="process" class="form-control" name="process" placeholder="add small process in paragraph format." rows="9" required></textarea><br>
            <button id="submit" class="btn btn-primary">submit</button>
        </form>
    </div>
    
{% endblock %}